/*
  Theme Name: Baeldung
  Theme URI: http://baeldung.com
  Description: Theme developed for Baeldung
  Version: 2.9.4
  Author: Baeldung
  Author URI: http://baeldung.com
  Tags:  two-columns, flexible-width, custom-menu, full-width-template
  License: GNU General Public License v2.0 & Apache License 2.0
  License URI: http://www.gnu.org/licenses/gpl-2.0.html http://www.apache.org/licenses/LICENSE-2.0
*/


/* ----------------------------------------------------------------------------

INDEX:

• Print styles
• normalize.css
• Scaffolding
• Clearfix
• Animations
• WP classes
• Responsive utilities
• Flex Grid
• Container
• Buttons
• Forms
• Logo
• Navigation
• Content
• Archive
• Pagination
• Author
• Single
• Post
• Page
• Sidebar
• Footer
• Shortcodes
• 3rd-Party Customizations
• Further Reading Box
• Sponsored Tag
• Miscellaneous
• Print styles

---------------------------------------------------------------------------- */


/*
 * Print styles
 */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}


/*
 * normalize.css v8.0.0
 * MIT License:
 * github.com/necolas/normalize.css
 */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: bold
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details {
  display: block
}

summary {
  display: list-item
}

template {
  display: none
}

[hidden] {
  display: none
}


/*
 * Scaffolding
 */


/* Reset the box-sizing */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Body reset */

html, body {
  height: 100%;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  color: #333;
  background-color: #fff;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.42857143;
}

/* Reset fonts for relevant elements */

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


/* Links */

a {
  color: #63b175;
  text-decoration: none;
}


a:hover,
a:focus {
  text-decoration: underline;
}

a:link,
a:visited {
  color: #63B175;
}


/* Figures */

figure {
  margin: 0;
}


/* Images */

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

/* Horizontal rule */

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h2, .h2,
h3, .h3 {
  font-weight: 700;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, .h1 { font-size: 36px }

h2, .h2 { font-size: 30px }

h3, .h3 { font-size: 24px }

h4, .h4 { font-size: 18px }

h5, .h5 { font-size: 14px }

h6, .h6 { font-size: 12px }

p {
  margin: 0 0 10px;
}

small {
  font-size: 85%;
}

mark {
  background-color: #fcf8e3;
  padding: .2em;
}

/* lists */

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0
}

/* reset counters */
ol {
  list-style: none;
  counter-reset: item;
}

ol> li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

ol ol> li:before,
ul ol> li:before {
  content: counters(item, ".") " ";
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}


/* blockquote */

blockquote {
  padding: 10px 30px;
  margin: 40px 10px;
  font-size: 29px;
  border-left: 3px solid #447A50;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0'
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}

/* Forms */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700
}

input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

input[type=radio],
input[type=checkbox] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal
}

input[type=file] {
  display: block
}

input[type=range] {
  display: block;
  width: 100%
}

select[multiple],select[size] {
  height: auto
}

input[type=file]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

input[type=search] {
  -webkit-appearance: none
}



/* Clearfix */

.clearfix:before,
.clearfix:after {
 content: " ";
 display: table;
}

.clearfix:after {
 clear: both;
}


/*
 * Animations
 */
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear
}

.fade.in {
  opacity: 1
}

.collapse {
  display: none
}

.collapse.in {
  display: block
}

tr.collapse.in {
  display: table-row
}

tbody.collapse.in {
  display: table-row-group
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease
}


/*
 * WP Classes
 */

img.alignleft {
  margin-right: 10px;
  float: left;
}

img.alignright {
  margin-left: 10px;
  float: right;
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}


/*
 * Responsive utilities
 */

.hidden-xs {
  display: none;
}

.visible-xs {
  display: block;
}

@media screen and (min-width: 768px) {
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}


/*
 * Flex Grid
 */

.flex-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-col {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;

  width: auto;
  max-width: 100%;
}


/*
 * Container
 */

.container {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
}

.flex-col,
.container-inner {
  padding-left: 6vw;
  padding-right: 6vw;
}

.container-inner > .flex-wrap,
.container-inner > .row {
  margin-left: -6vw;
  margin-right: -6vw;
}

@media screen and (min-width: 1400px) {
  .flex-col,
  .container-inner {
    padding-left: 100px;
    padding-right: 100px;
  }

  .container-inner > .flex-wrap,
  .container-inner > .row {
    margin-left: -100px;
    margin-right: -100px;
  }
}


/*
 * Buttons
 */

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: white;
  background-color: #323232;
  border-color: #323232;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #63B175;
  border-color: #63B175;
}

.btn-default:focus,
.btn-default:focus:active {
  background-color: #4E9359;
  border-color: #4E9359;
}


/*
 * Forms
 */

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}

.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
  display: table-cell;
  vertical-align: middle;
}

.form-inline .input-group > .form-control {
  width: 100%;
}

.form-inline .input-group-btn:last-child > .btn {
  z-index: 2;
  margin-left: -1px;
}

.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}

.form-inline .radio input[type=radio],
.form-inline .checkbox input[type=checkbox] {
  position: relative;
  margin-left: 0;
}


/*
 * Logo
 */


/* Hide desktop logo, show mobile logo */

.nav--logo {
  display: none;
}

.nav--logo_mobile {
  display: block;
  position: relative;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;

  margin-right: auto;
}

@media only screen and (min-width: 944px) {
  /* Hide mobile logo, show desktop logo */
  /* TODO: Inline svg for awesome hover effects */
  .nav--logo_mobile {
    display: none;
  }
  .nav--logo {
    display: block;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .nav--logo {
    margin-right: calc(33% - 265px);
  }
}

/*
 * Navigation
 */

.header--menu {
  background: #63B175;
}

.header--menu .nav--menu {
  padding: 0;
  list-style: none;
  margin: 0 -6vw;
}

@media only screen and (min-width: 944px) {
  .header--menu .nav--menu {
    margin-right: 0;
    margin-left: 0;
  }
}

.header--menu > .container:not(.menu-container) > .container-inner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (min-width: 944px) {
  .header--menu {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
  }
}


/* This class toggles the menu */

.header--menu .show-on-mobile {
  display: block;
}

/* Mobile: Veggie burger */

.menu-mobile {
  position: relative;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;

  text-align: right;
  outline: none !important;
  background: #63B175;
  padding: 20px;
  margin-right: -20px;
}

@media only screen and (min-width: 944px) {
  .menu-mobile {
    /* The mobile menu is hidden */
    display: none;
  }
}

.menu-mobile #veggieBurger {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}


/* Mobile: Menu: Parents */

.nav--menu {
  display: none;
}

.nav--menu_item {
  position: relative;
  display: block;
  float: none;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (min-width: 944px) {
  .nav--menu {
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* Menu item */
  .nav--menu_item {
    width: auto;
    position: static;
  }
  /*Menu item link — highlighted*/
  .nav--menu_item_highlighted {
    background: #6DC782;
  }
  /*Menu item link — darkened*/
  .nav--menu_item_darkened {
    background: #4E9359;
  }
}

a.nav--menu_item_anchor {
  position: relative;
  display: block;
  height: 50px;
  padding: 15px;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
}

a.nav--menu_item_anchor:active,
a.nav--menu_item_anchor_active {
  background: #535353;
}


/* Down Arrow */

.nav--menu_item_anchor .menu--item_normal {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 0.4em;
  vertical-align: 1px;
  /* Down arrow displays by default */
  display: inline;
  pointer-events: none;
}


/* Up Arrow */

.nav--menu_item_anchor .menu--item_active {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
  font-size: 0.4em;
  vertical-align: 2px;
  /* Up arrow is hidden by default */
  display: none;
  pointer-events: none;
}


/* Arrow dropdown visibility is reversed for the active states of the links */

.nav--menu_item_anchor_active .menu--item_normal {
  display: none;
  pointer-events: none;
}

.nav--menu_item_anchor_active .menu--item_active {
  display: inline;
  pointer-events: none;
}


/* MOBILE: Menu: Children */

.nav--dropdown {
  display: none;
  margin: 0 auto;
  background: #535353;
}

.nav--dropdown_content {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 0 30px;
  max-width: 470px;
}

.nav--dropdown_item {
  position: relative;
  display: block;
  float: none;
  padding: 10px;
  margin: 0 20px auto;
  border-bottom: 2px solid #3C3C3C;
}

.nav--dropdown_item:last-of-type {
  border-bottom: none;
}

@media only screen and (min-width: 944px) {
  /* The children are hidden by default */
  .nav--dropdown {
    display: none;
  }
  /* This is the unordered list */
  /* We make the content full width */
  .nav--dropdown_content {
    margin: 0;
    padding: 10px 20px;
    background: #535353;
    position: absolute;
    width: 100%;
    max-width: none;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* make fake fullscreen background */
  .nav--dropdown_content:before,
  .nav--dropdown_content:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #535353;
    width: 1000%;
  }
  .nav--dropdown_content:before {
    right: 100%;
  }
  .nav--dropdown_content:after {
    left: 100%;
  }
}

a.dropdown--item_anchor {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

a.dropdown--item_anchor:focus {
  outline: none;
}

a.dropdown--item_anchor:hover,
a.dropdown--item_anchor:focus,
a.dropdown--item_anchor:active {
  text-decoration: none;
}

a.dropdown--item_anchor:hover .dropdown--item_text,
a.dropdown--item_anchor:focus .dropdown--item_text,
a.dropdown--item_anchor:active .dropdown--item_text {
  color: #63B175;
}

.dropdown--item_icon {
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 130px;
  -ms-flex-basis: 130px;
  flex-basis: 130px;

  max-width: 130px;
}

.dropdown--item_icon img,
.dropdown--item_icon svg {
  width: 100px;
  height: 100px;
  max-width: 100%;
  pointer-events: none;
}

.dropdown--item_text {
  position: relative;
  display: block;
  margin: 0;
  color: #ffffff;
  font-size: .8em;
  line-height: 1.6;
  text-decoration: none;
  text-align: left;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
}

.dropdown--item_title {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (min-width: 944px) {
  /* This is a child */
  .nav--dropdown_item {
    margin: 0;
    min-height: 160px;
    width: 25%;
    border-bottom: 0 none;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
  .nav--menu_has_1_children .nav--dropdown_item,
  .nav--menu_has_2_children .nav--dropdown_item {
    max-width: 430px;
  }
  .nav--menu_has_1_children .dropdown--item_text,
  .nav--menu_has_2_children .dropdown--item_text,
  .nav--menu_has_3_children .dropdown--item_text {
    max-width: calc( 100% - 120px);
  }
  /* The children are hidden by default */
  .nav--dropdown {
    display: none;
    margin: 0 auto;
    background: #535353;
  }
  /* The child link */
  .dropdown--item_anchor {
    position: relative;
    width: unset;
    margin: 0;
    padding: 0;
    line-height: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* Child link icon */
  .dropdown--item_icon {
    min-height: 126px;
    max-width: 100%;
    padding: 10px 5px;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
  }
  /* Child link text */
  .dropdown--item_text {
    padding: 0 0 0 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .header--menu > .menu-container {
    position: relative;
  }
  .nav--dropdown_item {
    max-width: 430px;
  }
  .dropdown--item_anchor {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .dropdown--item_text {
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
  }
}

@media only screen and (min-width: 1400px) {
  .nav--dropdown_content {
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}


/*
 * Content
 */

@media screen and (min-width: 1200px) {
  #wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
}

#content {
  background-color: #fff;
  padding-bottom: 80px;
  word-wrap: break-word;
  width: 100%;
  position: relative;
}

#content pre{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media screen and (min-width: 944px) {
  #content {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  #content {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;

    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;

    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
  }

  #content > .container-inner {
    padding-right: 3vw;
  }

  #content > .container-inner > .flex-wrap {
    margin-right: -3vw;
  }
}

@media screen and (min-width: 1400px) {
  #content > .container-inner {
    padding-right: 50px;
  }
  #content > .container-inner > .flex-wrap {
    margin-right: -50px;
  }
}

#main {
  width: 100%;
}

@media screen and (min-width: 920px) {
  #main:not(:only-child) {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

}


@media screen and (min-width: 1200px) {
  #main:not(:only-child) {
    margin-left: 0;
    margin-right: 0;
  }

  #main {
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;

    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
  }

  #main,
  #main:not(:only-child) {
    max-width: none;
  }

  #main:not(:only-child) {
    width: calc(100% - 300px - 3vw);
  }

  #footer {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }

}

@media screen and (min-width: 1400px) {
  #main:not(:only-child) {
    width: calc(100% - 300px - 50px);
  }
}


/*
 * Archive
 */


.archive-description {
 font-size: 18px;
 margin-top: 15px;
}

.archive-header {
  margin-top: 50px;
  margin-top: calc(50px + 2vw);
  margin-bottom: 40px;
  margin-bottom: calc(40px + 1vw);
}

.archive-header .flex-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.archive-header .page-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.archive-header .icon-wrapper {
  display: none;
  width: 100px;
  height: 104px;
  margin-right: 20px;
}

@media screen and (min-width: 480px) {
  .archive-header .icon-wrapper {
    display: block;
  }
}

.archive-header .category-icon {
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.archive-header svg.category-icon {
  opacity: 0;
}

.archive-header svg.category-icon.ready {
  opacity: 1;
}


/* archive items */

.archive-columns {
  margin-bottom: 50px;
}

.archive-columns .hentry {
  max-width: 100%;
  margin-bottom: 30px;
}

.archive-columns .post-inner {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  position: relative;
}

.archive-columns .post-title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 22px;
  color: #55a067;
}

.archive-columns .post-title a {
  color: #66b077;
  display: inline-block;
}

.archive-columns .post-content {
  font-size: 17px;
}

.archive-columns .post-content p {
  margin-bottom: 20px;
}

.archive-columns .more {
  white-space: nowrap;
}

.archive-columns.rounded-on .post-inner {
  border-radius: 8px;
}

.archive-columns.no-more .post-content .more {
  display: none;
}

.archive-columns.click-whole .post a:hover,
.archive-columns.click-whole .post a:focus,
.archive-columns.click-whole .post a:focus:active {
  text-decoration: none;
}

.archive-columns.click-whole .post-title a:before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.archive-columns.click-whole .post:hover .post-title a:before {
  display: block;
}

.archive-columns.click-whole .post-title .hover-wrapper {
  display: inline-block;
  position: relative;
}

.archive-columns.click-whole .post-title .hover-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  margin-top: 5px;
  line-height: 0;
  opacity: 0;
  height: 2px;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;

  background: #66b077;
}

.archive-columns.click-whole .post:hover .post-title .hover-wrapper:before {
  opacity: .8;
}
.archive-columns.click-whole .post:active .post-title .hover-wrapper:before {
  opacity: .3;
}

.archive-columns.layout-flex .post-inner {
  height: 100%;
}


@media screen and (min-width: 640px) {
  .archive-columns.layout-flex {
    -webkit-display: flex;
    -moz-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  .archive-columns.layout-flex .post {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

}

/* minimal archive layout */

body.category article, body.tag article{
  margin-bottom: 8px !important;
}

body.category .post-inner, body.tag .post-inner{
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0 0 4px;
}

body.category .post-inner h3, body.tag .post-inner h3{
  margin: 0;
  font-size: 18px;
}

/*
 * Pagination
 */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #63B175;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #63B175;
  border-color: #337ab7;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}


/*
 * Author page
 */

body.author.archive {
  padding: 0;
  margin: 0;
  border: 0 none;
}

body.author.archive #content {
  padding-bottom: 50px;
}

body.author.archive #main {
  padding: 0 20px;
}

body.author.archive .page-header {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 768px) {
  body.author.archive #main {
    padding: 0 30px;
  }

  body.author.archive .page-header {
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media (min-width: 992px) {
  body.author.archive #main {
    padding: 0 40px;
  }

  body.author.archive .page-header {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@media (min-width: 1200px) {
  body.author.archive #main {
    padding: 0 50px;
  }

  body.author.archive .page-header {
    margin-left: -50px;
    margin-right: -50px;
  }
}

body.author.archive .profile-thumb-wrapper {
  overflow: hidden;
  text-align: center;
}

body.author.archive .profile-picture {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  body.author.archive .profile-picture {
    margin-bottom: 0;
    margin-top: 0;
  }
}

body.author.archive .profile-picture:before,
body.author.archive .profile-picture:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

body.author.archive .profile-picture:before {
  z-index: 1;
  background-image: url("./images/icons-back-layer.png");
}

body.author.archive .profile-picture:after {
  z-index: 3;
  background-image: url("./images/icons-front-layer.png");
}

body.author.archive .profile-picture img {
  width: 228px;
  height: auto;
  position: relative;
  z-index: 2;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-filter: sepia(1) hue-rotate(180deg) brightness(80%);
  filter: sepia(1) hue-rotate(180deg) brightness(80%);
}

body.author.archive .page-header {
  margin-top: 0;
  background-color: #dbdfe5;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  body.author.archive .page-header {
    text-align: left;
  }
  body.author.archive .page-header> div:nth-child(2),
  body.author.archive .page-header> div:nth-child(3) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  body.author.archive .profile-thumb-wrapper {
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

}
body.author.archive .profile-details {
	flex-basis: 400px;
	padding: 30px 25px;
	order: 1;
	text-align: left;
}
body.author.archive .author-nicename {
  color: #525e74;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 900;
}

body.author.archive .author-fullname {
  color: #76ae7a;
  font-family: "Raleway";
  font-size: 35px;
  font-weight: 500;
}

body.author.archive .author-description {
  color: #525e74;
  font-family: "Raleway";
  font-size: 19px;
  font-weight: 500;
  line-height: 1.48;
}
body.author.archive .profile-contact-links {
	padding: 20px 25px;
	order: 2;
	flex-basis: 155px;
}
body.author.archive .author-contacts-title {
  color: #525e74;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 1.3em;
}

body.author.archive .author-contact-list {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  list-style: none;
  padding-left: 0;
  margin-bottom: 2em;
}

body.author.archive .author-contact-list li {
  margin-top: 10px;
  display: inline-block;
}

@media(max-width:935px){
	body.author.archive .author-contact-list li:not(:last-child) {
		margin-right: 20px;
	}	
}
@media (min-width: 992px) {
  body.author.archive .author-contact-list li {
    display: block;
  }
  body.author.archive .author-contact-list li:not(:last-child) {
    margin-right: 0;
  }
}

body.author.archive .author-contact-list a {
  color: #525e74;
  text-decoration: underline;
}

body.author.archive .author-posts-title {
  color: #dbdfe5;
  font-family: "Raleway";
  font-size: 35px;
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 30px;
}

body.author.archive .author-posts {
  margin-left: -20px;
  margin-right: -20px;
}

body.author.archive .author-posts article {
  padding: 0 20px;
}

body.author.archive .author-posts .post {
  margin-bottom: 20px;
}
@media (max-width: 759px){
	body.author.archive .page-header {
		text-align: left;
	}
	body.author.archive .author-contact-list li {
		display: block;
	}
}
@media (min-width: 768px) {
  body.author.archive .author-posts .post {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border-bottom: 0 none;
    max-width: 48%;
  }
}

@media (min-width: 1200px) {
  body.author.archive .author-posts .post {
    max-width: 33%;
  }
}

body.author.archive .post-title {
  color: #63b175;
  font-size: 24px;
  font-family: "Raleway";
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: .7em;
}

body.author.archive .post-meta {
  color: #dbdfe5;
  font-size: 17px;
  font-family: "Raleway";
  font-weight: 900;
  margin-bottom: .7em;
}

body.author.archive .post-meta a {
  color: #dbdfe5;
  font-size: 14px;
  text-decoration: underline;
}

body.author.archive .post-content {
  color: #323232;
  font-size: 19px;
  font-family: "Raleway";
  font-weight: 500;
  line-height: 1.48;
}

body.author.archive .more-link {
  color: #525e74;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
}

body.author.archive .more-link:hover,
body.author.archive .more-link:focus {
  text-decoration: none;
}

body.author.archive .pagination {
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  clear: both;
}

body.author.archive .pagination> li.disabled> a {
  color: #dbdfe5;
}

body.author.archive .pagination> li.active> a {
  color: #63b175;
  background-color: transparent;
  text-decoration: none;
}

body.author.archive .pagination> li> a {
  color: #525e74;
  border: 0 none;
}


/*
 * Single
 */

.page-header .single-title {
  color: #333;
  font-weight: 300;
  letter-spacing: -1.5px;
  margin-top: 60px;
  font-size: 47px;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  .page-header .single-title {
    font-size: 64px;
  }
}

.page-header .single-title::first-line {
  font-weight: 700;
}

/* elements */

.single .post-content p {
  color: #333;
  line-height: 1.334;
}

.single .post-content h2,
.single .post-content h3 {
  margin-top: 2.1em;
  margin-bottom: 1.3em;
  font-weight: 700;
}

.single .post-content h2 {
  font-size: 29px;
}

.single .post-content ul {
  list-style-type: disc;
}

.single .post-content ul li a {
  font-weight: bold;
}

.single .post-content blockquote p {
  font-weight: 100;
  word-wrap: break-word;
  font-size: 21px;
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .single .post-content blockquote p {
    font-size: 29px;
    line-height: 38px;
  }
}

/* Adds 1em of margin for images inside a post */

.single .post-content img:not(.tve_image) {
  margin: 1em 0;
}

@media only screen and (min-width: 767px) {
  .single .meta-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .single .author {
    float: left;
    margin-bottom: 50px;
  }
}


/* Post categories/tags mixed */

.single .categories,
.single .post-tags,
.archive .related-tags,
.archive .related-categories {
  color: #fff;
  list-style: none;
  padding-left: 0;
}

.single .categories .btn-share,
.single .categories .btn-share span,
.single .categories li,
.single .post-tags li,
.archive .related-tags li,
.archive .related-categories li {
  display: inline-block;
}

.single .categories .btn-share,
.single .categories a,
.single .post-tags a,
.archive .related-tags a,
.archive .related-categories a,
.archive a.archive-parent-cat {
  font-size: 18px;
  font-weight: 700;
}

.single .categories a,
.single .post-tags a,
.archive .related-tags a,
.archive .related-categories a,
.archive a.archive-parent-cat {
  color: #fff;
  background-color: #63B175;
  display: inline-block;
  padding: 3px 7px;
}

.single .categories a:not(:last-child),
.single .post-tags a:not(:last-child),
.archive .related-tags a:not(:last-child),
.archive .related-categories a:not(:last-child) {
  margin-right: 0;
}

.single .categories li:not(:last-child),
.single .post-tags li:not(:last-child),
.archive .related-tags li:not(:last-child),
.archive .related-categories li:not(:last-child) {
  margin-right: 4px;
}

.single .categories a:hover,
.single .categories a:focus,
.single .post-tags a:hover,
.single .post-tags a:focus,
.archive .related-tags a:hover,
.archive .related-tags a:focus,
.archive .related-categories a:hover,
.archive .related-categories a:focus,
.archive a.archive-parent-cat:hover,
.archive a.archive-parent-cat:focus {
  background-color: #4e9359;
  text-decoration: none;
}

.archive .related-tags,
.archive .related-categories{
	margin-top: 50px;
}
.archive .related-tags a,
.archive .related-categories a{
	margin-top: 4px;
}
.archive .related-tags .highlight{
	background-color: #4e9359 !important;
}

.archive .related-tags .highlight span {
	color: #ffffff;
	/* line-height: 1px; */
	font-weight: bold;
	padding: 0 7px 0 4px;
	display: inline-block;
	height: 15px;
	vertical-align: middle;
	line-height: 11px;
}

.archive a.archive-parent-cat{
	margin-bottom: 20px;
	margin-right: 5px;
}

.archive a.archive-parent-cat img{
	width: 26px;
	margin-top: -6px;
	margin-right: 5px;	
}

.archive .tag-filter-title {
	font-size: 50%;
}

@media only screen and (min-width: 768px) {
  .single .categories,
  .single .post-tags {
    float: right;
  }
}


/* Post categories */

.single .categories .btn-share {
  background-color: #323232;
}

.single .categories .btn-share span {
  padding: 3px 5px;
  transform: rotate(0deg);
  transition: transform .2s ease-in-out;
}

.single .categories .btn-share span:hover {
  transform: rotate(180deg) scale(1.5);
}

@media only screen and (min-width: 768px) {
  .single .categories {
    margin-top: 47px;
  }
}


/* Post tags */

.single .post-tags a,
.archive .related-tags a {
  background-color: #333;
  font-size: 16px;
  border-radius: 4px;
  border-bottom: 4px solid #63B175;
}

@media only screen and (min-width: 768px) {
  .single .post-tags {
    clear: right;
  }
}

.single p.post-modified {
  color: #333;
  font-size: smaller;
  margin-top: 3em;
  font-weight: 300;
}


/* author */

.author {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 1px solid #63B175;
}

.author-by {
  font-weight: 300;
}

.author-name {
  font-weight: 300;
}

.author-by,
.author-name {
  font-size: 18px;
  color: #333;
  padding: 0px;
  margin: 0px;
  width: 50px;
  line-height: 19px;
}


/*
 * Post
 */


/* article */

article.post {
  margin-bottom: 30px;
}

article.post img {
  height: auto;
  max-width: 100%;
}

article.post footer {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  min-height: 20px;
}


/*
 * Page
 */

.page-title {
  margin-top: 6vw;
  margin-bottom: 4vw;
  font-weight: 700;
  font-size: 52px;
  line-height: 1;
  position: relative;
}

.page-template-page-full-width h1::first-line {
  font-weight: 700;
}

.page-template-page-homepage-php #main article {
  border-bottom: none;
}

.page-template-page-homepage-no-sidebar #main {
  padding-top: 50px;
}


/*
 * Sidebar
 */

.sidebar {
  -webkit-flex-basis: 300px;
  -ms-flex-basis: 300px;
  flex-basis: 300px;

  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;

  width: 300px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: none;
}

.sidebar .widget {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 300px;
}


/* Hide sidebar on small screens */

@media only screen and (min-width: 1200px) {
  .sidebar {
    display: block;
  }
}


/*
 * Footer
 */

.content-info,
.content-info .column-wrapper {
  background-color: #323232;
}

@media screen and (min-width: 1200px) {
  .content-info {
    background-color: #3C3C3C;
  }
}

.content-info .column-wrapper {
  padding: 30px 6vw;
}

@media screen and (min-width: 768px) {
  .content-info .column-wrapper {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1400px) {
  .content-info .column-wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 768px) {
  .content-info .widgets {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }

  .content-info .stacked-rows {
    width: 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
  }

  .content-info .stacked-rows .widget {
    margin: 0 auto;
  }

  .content-info .stacked-rows .widget .menu {
    margin-bottom: 0;
  }

  .content-info .stacked-rows .widget .menu,
  .content-info .stacked-rows .widget .menu li {
    display: inline-block;
  }

  .content-info .stacked-rows .widget .menu li {
    margin-right: 5px;
  }

  .content-info .stacked-rows .widget .menu li:not(:first-child):before {
    content: "";
    display: inline-block;
    height: 8px;
    border-left: 1px solid rgba(255, 255, 255, .4);
    margin-right: 10px;
  }

}

.content-info .widget {
  padding: 15px 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .content-info .widget {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }
}

.content-info .logo-mobile {
  margin-top: 40px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-info .logo-desktop {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: none;
}

@media screen and (min-width: 768px) {

  .content-info .logo-mobile {
    display: none;
  }

  .content-info .logo-desktop {
    display: block;
  }

}

@media screen and (min-width: 1200px) {
  .content-info .logo-desktop {
    margin-right: 80px;
  }
}

.content-info .widgettitle {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0px;
  text-transform: uppercase;
}

.content-info a {
  color: rgba(255, 255, 255, 0.5);
}

.content-info a:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .content-info .widget_nav_menu {
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

.content-info .widget_nav_menu ul {
  padding-left: 0;
}

.content-info .widget_nav_menu ul li {
  font-size: 12px;
  font-weight: 300;
  line-height: 23px;
  text-transform: uppercase;
  list-style-type: none;
  letter-spacing: 1px;
}


/*
 * Shortcodes
 */

.short_box {
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  margin-bottom: 20px;
  padding: 25px;
}

.short_box h3 b {
  font-weight: 300!important;
  font-size: 25px!important;
  line-height: 29px;
  letter-spacing: -1.23px;
  margin-bottom: 15px !important;
}

.short_box p {
  font-weight: 400!important;
  font-size: 16px!important;
  letter-spacing: -0.75px;
}

.short_end {
  margin-top: 40px!important;
  border: 4px solid #63B175!important;
  padding: 5px 35px 10px 35px!important;
}

.short_end h3 b {
  font-weight: 700!important;
  font-size: 25px!important;
  line-height: 29px;
  letter-spacing: -1.23px;
  margin-bottom: 15px !important;
}


/*
 * 3rd-Party Customizations
 */


/* setup the offset */

body .syntaxhighlighter {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}


/* setup the font */

body .syntaxhighlighter,
body .syntaxhighlighter a,
body .syntaxhighlighter div,
body .syntaxhighlighter code,
body .syntaxhighlighter table,
body .syntaxhighlighter table td,
body .syntaxhighlighter table tr,
body .syntaxhighlighter table tbody,
body .syntaxhighlighter table thead,
body .syntaxhighlighter table caption,
body .syntaxhighlighter textarea {
  font-size: 14px !important;
  line-height: 1.43 !important;
  font-weight: 300 !important;
  font-family: 'Source Code Pro', "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
}


/* setup the keyword/string style */

body .syntaxhighlighter .keyword,
body .syntaxhighlighter .string,
body .syntaxhighlighter .string a {
  color: #63B175 !important;
  font-weight: 600 !important;
}


/* override the vertical gutter color */

body .syntaxhighlighter .gutter .line {
  border-right: 3px solid #63B175 !important;
}


/* hide about the syntaxhighlighter plugin link */

body .syntaxhighlighter .toolbar {
  display: none !important;
}


/* Q2W3 Fixed Widget */

body .q2w3-fixed-widget-container .widget {
  width: 100%;
}

body .q2w3-fixed-widget-container .widget> div {
  width: 300px;
  margin: 0 auto;
}


/* Thrive Leads Post Footer */

body .tve-leads-post-footer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


/* Thrive Leads: fluid form fix */

body .tve_centerBtn {
  /* display: table was set but it won't expand so: */
  width: 100%;
}


/* Thrive flex column vertical align fix for IE */

body .tcb-flex-row.tcb-flex-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


/* override Thrive Leads theme font */

body .thrv_wrapper * {
  font-family: 'Raleway';
}


/*
 * Further Reading Box
 */

section.further-reading-posts {
  border: 1px dotted #798baa;
  padding: 12px 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}

section.further-reading-posts .fr-header h2 {
  font-weight: 900;
  font-size: 27px;
  color: #5dae70;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  section.further-reading-posts .fr-wrap {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

section.further-reading-posts .fr-item {
  min-width: 33%;
  color: #7386a6;
}

@media only screen and (min-width: 768px) {
  section.further-reading-posts .fr-item:not(:first-child) {
    padding-left: 3%;
  }
}

section.further-reading-posts .fr-item h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

section.further-reading-posts .fr-item h2 a {
  font-weight: 900;
  font-size: 22px;
  overflow-wrap: break-word;
}

section.further-reading-posts .fr-item .ex,
section.further-reading-posts .fr-item a {
  color: #7386a6;
  font-size: 16px;
  line-height: 1.334;
  margin-bottom: 14px;
}

section.further-reading-posts .fr-item a {
  font-weight: 700;
}


/*
 * Sponsored tag
 */

.sponsored-tag {
  background-color: #EDB60D;
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 6px;
  margin-left: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.sponsored-tag:before {
  content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2016%2014%22%20width%3D%2216%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22m%207.9717916%2C13.98206%20c%20-0.4761964%2C-0.0327%20-1.5298389%2C-0.199967%20-1.907889%2C-0.302942%20-0.143241%2C-0.03902%20-0.1856502%2C-0.0652%20-0.1768977%2C-0.109226%200.00634%2C-0.03183%200.3581684%2C-0.279701%200.7818594%2C-0.550792%200.8642902%2C-0.552996%201.3285631%2C-0.898221%201.9765367%2C-1.469713%201.532618%2C-1.351733%202.91689%2C-3.2919188%203.692798%2C-5.1758041%200.331904%2C-0.8058508%200.716997%2C-1.9667925%200.696555%2C-2.0999025%20-0.008%2C-0.052159%20-0.178642%2C0.1440307%20-0.645823%2C0.7425701%20-0.76756%2C0.9833627%20-1.566974%2C1.9449703%20-2.131592%2C2.5640664%20-0.5260483%2C0.5768034%20-1.9192626%2C1.9150559%20-2.4805405%2C2.3826909%20-2.212517%2C1.8433762%20-4.3360824%2C2.9759272%20-6.7116242%2C3.5794722%20l%20-0.57822792%2C0.146907%20-0.16277836%2C-0.190667%20c%20-0.28677514%2C-0.335924%20-0.39095961%2C-0.680315%20-0.28167336%2C-0.931099%200.06893313%2C-0.158182%200.11717704%2C-0.178998%201.16420454%2C-0.502247%200.8404719%2C-0.25947%201.5856088%2C-0.524951%202.279383%2C-0.812092%200.2335038%2C-0.09665%200.4294275%2C-0.180389%200.4353855%2C-0.186103%200.00596%2C-0.0058%20-0.015517%2C-0.345168%20-0.047722%2C-0.754344%20-0.066886%2C-0.8498222%20-0.050905%2C-1.9257181%200.037809%2C-2.545562%200.2811883%2C-1.9646449%201.2442058%2C-3.3127441%202.9020782%2C-4.0625435%200.529823%2C-0.2396133%201.4612385%2C-0.5290266%202.6649174%2C-0.8280566%202.5452527%2C-0.6322987%203.3041387%2C-0.8848558%204.2371327%2C-1.4101046%200.65716%2C-0.369962%201.039112%2C-0.63926916%201.532589%2C-1.08059446%200.237374%2C-0.21227794%200.459772%2C-0.38597384%200.494218%2C-0.38597384%200.03444%2C0%200.08659%2C0.0443924%200.11587%2C0.0987179%200.118106%2C0.21897995%200.143585%2C0.56838524%200.141528%2C1.9408282%20-0.0018%2C1.1733007%20-0.01204%2C1.4220513%20-0.08147%2C1.9715674%20-0.293504%2C2.322756%20-0.802293%2C4.136601%20-1.616179%2C5.7617163%20-0.304406%2C0.6078112%20-0.565273%2C1.0189722%20-0.981297%2C1.5466572%20-0.735305%2C0.932642%20-1.59325%2C1.64943%20-2.42814%2C2.028625%20-0.419821%2C0.190676%20-1.1665413%2C0.425707%20-1.644693%2C0.517674%20-0.3167332%2C0.06088%20-1.0428971%2C0.148317%20-1.0990478%2C0.132286%20-0.00975%2C-0.0029%20-0.089519%2C-0.01%20-0.1772656%2C-0.01601%20z%22%20/%3E%3C/svg%3E');
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  width: 16px;
  height: 14px;
  line-height: 0;
}


/*
 * Miscellaneous
 */


/* Disable comments message */

p.alert.alert-info {
  display: none;
}


/* Fix iframe height problem from Google Remarketing Iframe */

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

.nav--menu> .nav--menu_item> .nav--menu_item_anchor svg {
  width: 20px;
  height: 20px;
  pointer-events: none;
}


/* Fix grammarly infinite vertically expanding issue with code blocks */

.code grammarly-ghost {
  display: none;
}


/* Hiding the Buy Sell Ads link */

.bsa_it_p {
  display: none;
}


/* Prices with vat under checkout buttons */

.price-with-tax {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  text-align: inherit;
}


/* Injected SVG height fix */

.injected-svg {
  height: auto;
}


/* hero unit */

.hero-unit,
.hero-unit {
  padding: 1em;
}

.hero-unit h1 {
  font-size: 3em;
}

/* Fluid iframe videos */

.iframe-fluid {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
}

.iframe-fluid iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* wc-load-more-submit */

#wpcomm .wc-load-more-submit:hover,
#wpcomm .wc-load-more-submit:focus {
  background-color: #63B175;
  color: white;
  border: 0 none;
}

/* Before/After content widgets - display only first */

.before-post-widgets .before-post-content-widget, .after-post-widgets .after-post-content-widget{
  display: none;
}
.before-post-content-widget:first-child, .after-post-content-widget:first-child{
  display: block;
}

/* manual popups */

.featherlight-content {
	padding: 0 !important;
	border: 0 !important;
	overflow: visible !important;
	margin: 5% !important;
}
.featherlight-content .thrv-leads-form-box{
	margin: 0 !important; 
}
.featherlight-close-icon.featherlight-close {
	background-color: rgb(103, 181, 121) !important;
	color: #fff !important;
	top: -10px !important;
	right: -12px !important;
	border-radius: 15px;
	font-weight: bold !important;
}
@media(max-width:767px){
	.featherlight-inner{
		max-height: 80vh !important;
		overflow-y: scroll;
		width: auto !important;
	}
}

/* sticky widgets */

.sticky-widgets{
	display: flex;
	flex-direction: column;
}
.sticky-widgets .widget:last-child{
	flex-grow: 1;
	height: auto !important;
}

/* non-sticky widgets (widget option) */
#sidebar1 .sticky-widgets div[data-stickyness=nonsticky] *{
  position: static !important;
}


/* ie10+ only */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.home-banner-button{
		bottom: 40px !important;
	}
	
	.rws-home-top-link .tcb-flex-row :nth-of-type(1).tcb-flex-col,
	.ls-home-top-link .tcb-flex-row :nth-of-type(1).tcb-flex-col{
		width: 30%;
	}

	.rws-home-top-link .tve_image_frame{
		margin-top: 20px;
	}
	.ls-home-top-link .tve_image_frame{
		margin-top: 30px;
	}
}

/* hide drip honeypot */
.drip-hp input[name="website"]{
	display: none;
}

/* fix for full viewport ads */
@media(max-width:500px){
	.code-block {
		margin-left: -6vw !important;
		margin-right: -6vw !important;
	}
}

/* make the cookie notice appear above the ads */
#cookie-notice {
	z-index: 9999999 !important;
}

/* contact form 7 */
.wpcf7 .wpcf7-form-control-wrap,
.wpcf7 label,
.wpcf7 .wpcf7-form-control{
  width:100%;
  display: block;
}

.wpcf7 .wpcf7-form-control{
  padding:15px;
  margin-top:10px;
  margin-bottom: 30px;
}

.wpcf7 .wpcf7-submit{
  background-color: #63B175;
  color: #fff;
  cursor: pointer;
  border: 0;
}
.wpcf7 .wpcf7-submit:hover{
  background-color: #4e9359;
}

/* heading anchor pointers */
.bd-anchor{
  position:relative;
  top: -150px;
}

/* anchor links */
h2, h3{
  position: relative;
}
h2:hover .anchor-link svg,
h3:hover .anchor-link svg,
.anchor-link:hover svg{
  opacity:1;
}
.anchor-link svg {
	transition: 0.2s;
	opacity: 0;
	width: 40px;
	height: 18px;
	position: absolute;
	/* left: 5px; */
	top: 8px;
}
h3 .anchor-link svg{
  top: 5px;
}

/* BAEL-18934: it seems in a recent thrive update they have set the overflow value to hidden for icon containers (image captions) breaking our icons on series pages, setting it back to visible */
.tve_image_caption {
	overflow: visible;
}